/.git
/.vscode
/examples
/target
**/.dockerignore
**/.gitignore
/.rustfmt.toml
/Cargo.lock
/clear_code.sh
/docker_bulid.sh

**/Dockerfile*
**/node_modules
/lsp-server/build.sh
/lsp-server/run.sh
/lsp-server/publish.sh
/lsp-server/vscode_extension/examples
/lsp-server/vscode_extension/out
/lsp-server/vscode_extension/package-lock.json
/lsp-server/vscode_extension/vscode-server/build_and_run.sh
/lsp-server/vscode_extension/vscode-server/lsp-server